@page "/flights"
@using FlightReservations.Data

<h1>Flight Finder</h1>
<label>From:</label>
<input type="text" @bind="origin"/>
<label>To:</label>
<input type="text" @bind="destination"/>
<label>Day:</label>
<input type="text" @bind="day"/>

<button @onclick="OnFindFlights">Find Flights</button>

<h2>Flights</h2>
<select @onchange="OnShowFlight">
    <option disabled selected>Select a flight</option>
    @foreach (var f in flights)
    {
        <option value="@f.Flight_Code">@($"{f.Flight_Code}, {f.Airline}, {f.Origin_Airport}, {f.Destination_Airport}, {f.Day}, {f.Time}, {f.Cost}")</option>
    }
</select>

<h2>Reserve</h2>
<div>
    <p>Flight Code:</p>
    <input type="text" value="@selectedFlightCode" disabled/>
</div>
<div>
    <p>Airline:</p>
    <input type="text" value="@selectedAirline" disabled/>
</div>
<div>
    <p>Day:</p>
    <input type="text" value="@selectedDay" disabled/>
</div>
<div>
    <p>Time:</p>
    <input type="text" value="@selectedTime" disabled/>
</div>
<div>
    <p>Cost:</p>
    <input type="text" value="@selectedCost" disabled/>
</div>
<div>
    <p>Name:</p>
    <input type="text"/>
</div>
<div>
    <p>Citizenship:</p>
    <input type="text"/>
</div>

@code {
    FlightManager fm = new FlightManager();
    List<Flight> flights = FlightManager.GetFlights();
    string selectedFlightCode;
    string selectedAirline;
    string selectedDay;
    string selectedTime;
    string selectedCost;
    string origin;
    string destination;
    string day;

    //OnFindFlights method: This method is called when the "Find Flights" button is clicked. 
    //Calls FindFlights method in FlightManager class and finds flight based on origin, destination and day.
    private void OnFindFlights()
    {
        flights = fm.FindFlights(origin, destination, day);
        if (flights.Count > 0)
        {
            //Automatically select the first flight in the list.
            SelectFlight(flights[0].Flight_Code);
        }
        else
        {
            ClearSelectedFlight();
        }
    }

    //OnShowFlight method: This method is called when a flight is selected from the dropdown.
    //Sets flightCode to value based on change event. Then calls SelectFlight method to display flight information.
    private void OnShowFlight(ChangeEventArgs e)
    {
        string flightCode = e.Value.ToString();
        SelectFlight(flightCode);
    }

    //SelectFlight method: Selects a flight and updates the flight details in the textboxes by binding variables.
    private void SelectFlight(string flightCode)
    {
        Flight selectedFlight = null;
        //Loops throught flights list to find flight.
        foreach (var flight in flights)
        {
            if (flight.Flight_Code == flightCode)
            {
                selectedFlight = flight;
                break;
            }
        }
        //If flight is found, setting variables to selected flight details to display.
        if (selectedFlight != null)
        {
            selectedFlightCode = selectedFlight.Flight_Code;
            selectedAirline = selectedFlight.Airline;
            selectedDay = selectedFlight.Day;
            selectedTime = selectedFlight.Time;
            selectedCost = selectedFlight.Cost.ToString();
        }
    }

    //ClearSelectedFlight method: Clears the selected flight details.
    private void ClearSelectedFlight()
    {
        selectedFlightCode = null;
        selectedAirline = null;
        selectedDay = null;
        selectedTime = null;
        selectedCost = null;
    }
}
